aiohttp==3.7.4
appdirs==1.4.3
async-timeout==1.2.1
beautifulsoup4==4.6.0
bs4==0.0.1
chardet==3.0.2
discord.py==0.16.7
multidict==2.1.4
packaging==16.8
pyparsing==2.2.0
requests==2.14.1
six==1.10.0
websockets==9.1
